/* login.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f3f2ef;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */

    height: 100vh;
    margin: 0;
}

.login {
    margin: 30px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login img {
    width: 150px;
    margin-bottom: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login form input {
    height: 40px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login form input:focus {
    border-color: #0073b1;
    outline: none;
}

.login form button {
    height: 40px;
    background-color: #0073b1;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login form button:hover {
    background-color: #005f8d;
}

.login p {
    margin-top: 20px;
    font-size: 14px;
}

.login p span {
    color: #0073b1;
    cursor: pointer;
    text-decoration: underline;
}

.login p span:hover {
    color: #005f8d;
}
